[user]
	name = Zasu Pitts
	email = grafpoo@gmail.com

[color]
	ui = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	l = log --pretty=format:\"%h - %an, %ar : %s\"

[push]
	default = simple

[rerere]
	enabled = true

[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/jguthrie/.gitignore_global
	hooksPath = /Users/jguthrie/workspace/git-hooks-core
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jponge/.stCommitMsg

[http]
	sslVerify = false
